:root {
    --accentColor: #ff4848;
        --altAccentColor: #960101;

    --infoColor: hsl(224, 100%, 71%);
        --altInfoColor: hsl(224, 69%, 42%);
        --surfaceInfoColor: hsl(224, 100%, 84%);

    --warningColor: hsl(32, 100%, 71%);
        --altWarningColor: hsl(32, 69%, 42%); 
        --surfaceWarningColor: hsl(32, 100%, 84%);
    
    --tipColor: #c96dff;
        --altTipColor: hsl(278, 69%, 42%);
        --surfaceTipColor: hsl(278, 100%, 84%);
    
    --criticalColor: #ff6d6d;
        --altCriticalColor: hsl(0,69%, 42%);
        --surfaceCriticalColor: hsl(0, 100%, 84%);

    --exampleColor: #6dffe7;
        --altExampleColor: hsl(169, 69%, 42%);
        --surfaceExampleColor: hsl(169, 100%, 84%);

    --yesColor: hsl(128, 100%, 71%);
        --altYesColor: hsl(120, 69%, 42%);
        --surfaceYesColor: hsl(128, 100%, 84%);
    
    --questionColor: hsl(73, 100%, 71%);
        --altQuestionColor: hsl(73, 69%, 42%);
        --surfaceQuestionColor: hsl(73, 100%, 84%);

    --bugColor: hsl(273, 100%, 71%);
        --altBugColor: hsl(273, 69%, 42%);
        --surfaceBugColor: hsl(273, 100%, 84%);

    --nonAccentColor: #fafafa;
        --invertedNonAccentColor: #050505;

    --surfaceColor: #f0eded; 
    --invertedSurfaceColor: #1a1a1a;
}

:root .L {
    --altAccentColor: #ff4848;
        --accentColor: #960101;

    --altInfoColor: hsl(224, 100%, 71%);
        --infoColor: hsl(224, 69%, 42%);
        --surfaceInfoColor: hsl(224, 43%, 21%);
    
    --warningColor: hsl(32, 69%, 42%);
        --altWarningColor: hsl(32, 100%, 71%);
        --surfaceWarningColor: hsl(32, 43%, 21%);
    
    --tipColor: hsl(278, 69%, 42%);
        --altTipColor: hsl(278, 100%, 71%);
        --surfaceTipColor: hsl(278, 43%, 21%);
    
    --criticalColor: hsl(0, 69%, 42%);
        --altCriticalColor: hsl(0, 100%, 71%);
        --surfaceCriticalColor: hsl(0, 43%, 21%);

    --exampleColor: hsl(169, 69%, 42%);
        --altExampleColor: hsl(169, 100%, 71%);
        --surfaceExampleColor: hsl(169, 43%, 21%);

    --yesColor: hsl(128, 69%, 42%);
        --altYesColor: hsl(128, 100%, 71%);
        --surfaceYesColor: hsl(128, 43%, 21%);
    
    --questionColor: hsl(73, 69%, 42%);
        --altQuestionColor: hsl(73, 100%, 71%);
        --surfaceQuestionColor: hsl(73, 43%, 21%);

    --bugColor: hsl(273, 69%, 42%);
        --altBugColor: hsl(273, 100%, 71%);
        --surfaceBugColor: hsl(273, 43%, 21%);

    --invertedNonAccentColor: #fafafa;
        --nonAccentColor: #050505;

    --surfaceColor: #1a1a1a;
    --invertedSurfaceColor: #f0eded;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded' !important;
    color: var(--nonAccentColor);
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    font-synthesis: none;
    overflow: hidden;
}

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.google-sans-flex-regular {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 87.5,
        "GRAD" 0,
        "ROND" 33;
}