:root { --text-scale: 1}

/*Acessibilidade - Sem animações */
:root.a11y-no-animations *,
:root.a11y-no-animations *::before,
:root.a11y-no-animations *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}

:root.a11y-high-contrast button,
:root.a11y-high-contrast input,
:root.a11y-high-contrast select {
    outline: 2px solid var(--nonAccentColor) !important;
}

h1, h2, h3, h4, h5, h6,label, input, button { 
    color: var(--invertedNonAccentColor);
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word; 
    hyphens: auto;
}

h1 {
    font-family: 'Cal Sans', sans-serif;
    font-size: calc(clamp(2rem, 4vw, 3rem) * var(--text-scale));
    margin: 5px 0 0 0;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    margin: 5px 0 0 0;
    font-size: calc(clamp(1.5rem, 3vw, 2rem) * var(--text-scale)); 
    line-height: 1.2;
    font-weight: 700;
}

h3 {
    font-size: calc(clamp(1.1rem, 1.8vw, 1.5rem) * var(--text-scale));
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: calc(clamp(0.8rem, 1.3vw, 1.1rem) * var(--text-scale));
    line-height: 1.3;
    font-weight: 500;
    margin: 0;
}

h5 { font-size: calc(clamp(0.6rem, 1.1vw, 0.9rem)  * var(--text-scale));}
h6 { font-size: calc(clamp(0.4rem, 0.9vw, 0.7rem)  * var(--text-scale));}

p {
    font-size: calc(clamp(0.9rem, 1.25vw, 1rem) * var(--text-scale));
    line-height: 1.5;
    max-width: 70vw;
    text-align: left;
}

.imageDiv > p { color: #888888; text-align: center; }

.imageItem {
    border-radius: 20px;
    max-width: 75vw;
    max-height: 50vh;
    border: 10px solid var(--accentColor);
    transition: all 0.3s ease;
    margin: 10px 0;
}

.imageItem:hover, .imageItem:focus {
    border-width: 5px;
    transform: scale(1.05);
}

#mainArea {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 3vh 0;
}

::-webkit-scrollbar{ width: 12px; }

::-webkit-scrollbar-track{ background: var(--altAccentColor); }

::-webkit-scrollbar-thumb{
    background: var(--accentColor); 
    border-radius: 0 10px 10px 0;
    border: 3px solid var(--nonAccentColor); 
}

::-webkit-scrollbar-thumb:hover{ background: var(--nonAccentColor); }

select, ::picker(select) { appearance: base-select; }

select {
    display: flex;
    position: relative;
    border: 2px solid var(--nonAccentColor);
    background: var(--altAccentColor);
    color: var(--nonAccentColor);
    font-family: inherit;
    padding: 10px;
    transition: 0.4s;
}

option:checked { font-weight: bold; }

option::checkmark {
  order: 1;
  margin-left: auto;
  content: "V";
}

option {
    border: 2px solid var(--nonAccentColor);
    background: var(--accentColor);
    color: var(--nonAccentColor);
    font-family: inherit;
}

option:first-of-type { border-radius: 8px 8px 0 0; }
option:last-of-type { border-radius: 0 0 8px 8px; }
::picker(select) {  border-radius: 8px; }
option:not(option:last-of-type) { border-bottom: none; }

.dropdownArea {
    width: auto;
    max-width: max-content;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px !important;
}

.inlineContentFar {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

body, html {
    margin: 0;
    color: var(--invertedNonAccentColor);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

*, *::before, *::after {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, fill 0.3s ease;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-family: inherit;
    background: transparent;
    border: 2px solid var(--invertedNonAccentColor);
    color: var(--invertedNonAccentColor);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

a { color: var(--invertedNonAccentColor); }

button:hover {
    box-shadow: 0px 0px 0px 5px var(--invertedNonAccentColor);
    transform: scale(0.9);
    transition: 0.3s;
}

button:active {
    box-shadow: 0 0 0 15px var(--invertedNonAccentColor);
    transform: translateY(0) scale(0.75);
    transition: 0.3s;
}

.iconM { 
    color: var(--invertedNonAccentColor); 
    font-size: 3rem;
}

.iconMNeedsSpace { margin-right: 5px;}

footer {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    border-radius: 10px 10px 0 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--accentColor);
}
#footerLoL { min-height: 309px; }

/* Callouts  */

.calloutBox {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border: 5px solid var(--accentColor);
    border-left: 20px solid var(--altAccentColor);
    border-radius: 20px;
    background-color: var(--surfaceColor) !important;
    width: 90%;
    max-width: 70vw;
    margin: 10px 0;
    height: auto;
    transition: all ease 0.3s;
    position: relative;
    isolation: isolate;
}

.foregroundCallOutIcon, .calloutBox h3 { margin: 0 0 0 10px; }

.foregroundCallOutIcon { 
    font-size: 2rem !important;
    color: var(--invertedNonAccentColor);
}

.calloutBox > :not(.backgroundCallOutIcon) {
    position: relative;
    z-index: 1;
}

.calloutBox > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    transition: all ease 0.35s;
}

.calloutBox > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calloutBox h4 { margin: 10px 0 -5px 0;}

.info {
    --calloutBorderColor: var(--altInfoColor);
    --calloutSurfaceColor: var(--surfaceInfoColor);
    --calloutIconColor: var(--altInfoColor);
}

.warning {
    --calloutBorderColor: var(--altWarningColor);
    --calloutSurfaceColor: var(--surfaceWarningColor);
    --calloutIconColor: var(--altWarningColor);
}

.tip {
    --calloutBorderColor: var(--altTipColor);
    --calloutSurfaceColor: var(--surfaceTipColor);
    --calloutIconColor: var(--altTipColor);
}

.critical {
    --calloutBorderColor: var(--altCriticalColor);
    --calloutSurfaceColor: var(--surfaceCriticalColor);
    --calloutIconColor: var(--altCriticalColor);
}

.example {
    --calloutBorderColor: var(--altExampleColor);
    --calloutSurfaceColor: var(--surfaceExampleColor);
    --calloutIconColor: var(--altExampleColor);
}

.yes {
    --calloutBorderColor: var(--altYesColor);
    --calloutSurfaceColor: var(--surfaceYesColor);
    --calloutIconColor: var(--altYesColor);
}

.question {
    --calloutBorderColor: var(--altQuestionColor);
    --calloutSurfaceColor: var(--surfaceQuestionColor);
    --calloutIconColor: var(--altQuestionColor);
}

.bug {
    --calloutBorderColor: var(--altBugColor);
    --calloutSurfaceColor: var(--surfaceBugColor);
    --calloutIconColor: var(--altBugColor);
}

.baldi {
    --calloutSurfaceColor: var(--altMathColor);
    --calloutSurfaceColor: var(--surfaceMathColor);
    --calloutIconColor: var(--altMathColor);
}

.info, .info > div,
.warning, .warning > div,
.tip, .tip > div,
.critical, .critical > div,
.example, .example > div,
.yes, .yes > div,
.question, .question > div,
.bug, .bug > div,
.baldi, .baldi > div {
    border-color: var(--calloutBorderColor) !important;
    background-color: var(--calloutSurfaceColor);
}

.info > .backgroundCallOutIcon,
.warning > .backgroundCallOutIcon,
.tip > .backgroundCallOutIcon,
.critical > .backgroundCallOutIcon,
.example > .backgroundCallOutIcon,
.yes > .backgroundCallOutIcon,
.question > .backgroundCallOutIcon,
.bug > .backgroundCallOutIcon,
.baldi > .backgroundCallOutIcon {
    color: var(--calloutIconColor);
    opacity: 0.25;
    z-index: 0;
    transform: rotate(-15deg);
        transform-origin: center;
    position: absolute;
        right: 5%;
        bottom: -40%;
    font-size: 300px !important;
    pointer-events: none;
    user-select: none;
}

.calloutBox h4 {
    overflow: hidden;
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.35s ease, opacity 0.35s ease, margin 0.35s ease;
}

.calloutBox.collapsed h4 {
    max-height: 0;
    opacity: 0;
    margin: 0;
}

.calloutBox.collapsed { padding-bottom: 0; }

.toggleContent .iconM { transition: transform 0.3s ease; }

.calloutBox.collapsed .toggleContent .iconM { transform: rotate(-180deg); }

.calloutBox:hover, .calloutBox:focus , .codeBlock:hover, .codeBlock:focus {
    border-width: 3px;
    padding-left: 40px;
    transform: scale(1.05);
}

.calloutBox:hover > div,
.calloutBox:focus > div,
.codeBlock:hover > .cBHeader { margin-left: -40px; }
/*Códigos*/

.codeBlock {
    border: 5px solid var(--invertedNonAccentColor);
    border-left: 20px solid;
    background-color: var(--invertedSurfaceColor);
    border-radius: 15px;
    margin: 10px 0;
    padding: 20px;
    width: 90%;
    overflow: hidden;
    max-width: 70vw;
    transition: all 0.3s ease;
}

.codeBlock > pre {
    margin: 0;
    padding: 20px 0 0 0;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    color: var(--nonAccentColor);
    overflow-x: auto;
}

.cBHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    background-color: var(--surfaceColor);
    margin: -20px -20px 0 -20px;
    transition: all 0.3s ease;
}

.codeBlock pre code.hljs {
    text-align: left;
    background: transparent !important;
    padding: 0;
}

@media screen and (max-width: 350px){
    .cBButton > h4 { display: none; }
    .cBButton > span { margin: 0;}
}

table {
    width: 95%;
    background-color: var(--surfaceColor);
    border: 5px solid var(--accentColor);
    border-radius: 20px;
    margin: 10px;
    transition: all 0.3s ease;
    overflow: auto;
}

tr > th {
    font-family: 'Cal Sans', sans-serif;
    background-color: var(--altAccentColor);
    border-bottom: 5px var(--nonAccentColor);
    color: var(--nonAccentColor);
    padding: 10px 5px;
}

tr > td {
    background-color: var(--nonAccentColor);
    color: var(--invertedNonAccentColor);
    padding: 10px 5px;
}

tr > th:first-child { border-radius: 15px 0 0 0; }
tr > th:last-child { border-radius: 0 15px 0 0; }

tr:last-child > td:last-child { border-radius: 0 0 15px 0; }
tr:last-child > td:first-child { border-radius: 0 0 0 15px ; }

table:hover { transform: scale(1.05); border-width: 10px; border-radius: 25px;}

.tabelaHeaderVert, .tabelaHeaderHor { width: 100%; display: flex; align-items: center; justify-content: center;}


/*CREDS: https://www.sliderrevolution.com/resources/css-animated-background/*/

body {
    background-color: var(--nonAccentColor);
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #00000000 60%, var(--accentColor) 40%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:0%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    opacity:.15;
}

.bg3 {
    animation-duration:5s;
    opacity:.3;
}

@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}